.outer-nav{
    background-color: #343a40;
    height: 200px;
}
.top-nav{
    width: 90%;
    margin-left:5%;
    height: 40px !important;
    border-radius: 2px;
    background-color: white;
}
.top-nav li a {
    padding: 0px 15px 0px 15px!important;
    font-weight: 500;
    color:#1b262c!important;
}
.top-nav li :hover {
    color : #D23600!important;
}
#language{
    color : #D23600!important;
    font-weight: 800;
    font-size: 20px;
}
#language:hover{
      color: rgba(0,0,0,.5)!important;

}
.ul1{
    float: right;
}
.ul2{
    float: left;
}
